# Node.js dependencies
node_modules/

# dotenv environment variables file
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/coverage

# Build output
/dist
/build

# npm package lock file
package-lock.json

# Vite, webpack, and other bundlers' outputs
/dist
/.next

# IDE settings
.idea
.vscode

# Operating System files
.DS_Store
Thumbs.db

# Optional: Yarn and pnpm lock files (if not using npm)
yarn.lock
pnpm-lock.yaml
